.home-container {
    display: flex;
}
.invoice-short {
    box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
    border-radius: 8px;
    border: 0 solid var(--purple);
    background-color: var(--invoice-bg);
}
.invoice-short:hover {
    cursor: pointer;
    border-width: 1px;
}
.status {
    width: 104px;
    height: 40px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
}
.small-circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}
.client-name,
.date,
.dark .client-name,
.dark .date {
    color: var(--gray);
}
.invoice-id {
    font-weight: 700;
}

.empty-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 242px !important;
    text-align: center;
}

.nothing-here-title {
    margin-top: 40px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.63px;
    margin-bottom: 10px;
}

.nothing-here-description {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.25px;
    color: var(--p-purple);
    line-height: 15px;
}

.new-invoice-nothing-here {
    font-weight: 700;
}
/*Desktop*/
@media screen and (min-width: 700px) {
    .home-container {
        flex-direction: column;
        gap: 65px;
    }
    .home-container > * {
        width: 700px;
        align-self: center;
    }
    header {
        margin-top: 72px;
    }
    main {
        display: flex;
        gap: 16px;
        flex-direction: column;
        margin-bottom: 72px;
    }
    .invoice-short {
        padding: 28px 30px;
        display: flex;
        gap: 40px;
        align-items: center;
    }
    .right-side {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        gap: 20px;
    }

    .right-side ~ section {
        display: none;
    }
    .invoice-id {
        width: 60px;
    }
    .date {
        width: 110px;
    }
    .mobile {
        display: none;
    }
}
/*Tablet*/
@media screen and (min-width: 636px) and (max-width: 999px) {
    .home-container {
        flex-direction: column;
        gap: 65px;
    }
    .home-container > * {
        width: 85%;
        align-self: center;
        flex-grow: 1;
    }
    header {
        margin-top: 72px;
    }
    main {
        display: flex;
        gap: 16px;
        flex-direction: column;
        margin-bottom: 72px;
    }
    .invoice-short {
        height: 72px;
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 0 10px;
    }
    .right-side {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    }
    .right-side ~ section {
        display: none;
    }
    .mobile {
        display: none;
    }
}
/*Mobile*/
@media screen and (max-width: 635px) {
    .home-container {
        flex-direction: column;
        gap: 65px;
    }
    .home-container > * {
        width: 85%;
        align-self: center;
        flex-grow: 1;
    }
    .right-side {
        display: none;
    }
    header {
        margin-top: 72px;
    }
    main {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 72px;
    }
    .invoice-short {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "id name" "date status" "total status";
        justify-items: center;
        height: 134px;
        align-items: center;
    }
    .invoice-short .right-arrow {
        display: none;
    }
    .invoice-short .client-name {
        grid-area: name;
    }
    .invoice-short .invoice-id {
        grid-area: id;
    }
    .invoice-short .status {
        grid-area: status;
    }
    .invoice-short .date {
        grid-area: date;
        align-self: end;
    }
    .invoice-short .total-price {
        grid-area: total;
    }
    .new-invoice-nothing-here span {
        display: none;
    }
    .desktop {
        display: none;
    }
}
