@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");
:root {
    --purple: #7c5dfa;
    --light-purple: #9277ff;
    --dark-blue: #1e2139;
    --d-blue: #252945;
    --gray: #dfe3fa;
    --p-purple: #888eb0;
    --pp-purple: #7e88c3;
    --black: #0c0e16;
    --red: #ec5757;
    --light-red: #ff9797;
    --light-bg: #f8f8fb;
    --dark: #141625;
    --white: #fff;

    --invoice-row-color: #fff;
    --font-color: #000;
    --invoice-table: rgb(248, 248, 251);
    --label-color: rgb(126, 136, 195);
    --input-bg: #fff;
    --input-border: #dfe3fa;
    --l: rgb(55, 59, 83);
}
.dark {
    --light-bg: rgb(20, 22, 37);
    --invoice-row-color: rgb(30, 33, 57);
    --font-color: #fff;
    --invoice-table: rgb(37, 41, 69);
    --checkmark-background: rgb(20, 22, 37);
    --label-color: rgb(223, 227, 250);
    --input-bg: rgb(37, 41, 69);
    --input-border: rgb(30, 33, 57);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
}
body {
    font-weight: 500;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    /* display: flex;
    justify-content: center;
    align-items: center;*/
}
/*#root{
    max-width: 1440px;
    width:100%;
}*/
.smaller {
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    letter-spacing: -0.229167px;
}
h1 {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -1px;
    font-weight: 700;
}
h2 {
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.625px;
    font-weight: 700;
}
h3 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.8px;
    font-weight: 700;
}
h3.smaller {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    font-weight: 700;
}
button {
    border-radius: 24px;
    border: none;
    outline: none;
    padding-top: 17px;
    padding-bottom: 16px;
    cursor: pointer;
}
.light button.button1 {
    color: var(--p-purple);
    background: #f9fafe;
}
.dark button.button1 {
    color: var(--gray);
    background-color: #373b53;
}
.light button.button1:hover {
    background-color: var(--black);
}
.dark button.button1:hover {
    background-color: var(--dark-blue);
}
button.delete {
    color: var(--white);
    background-color: var(--red);
    width: 89px;
    height: 48px;
}
button.delete:hover {
    background-color: var(--light-red);
}
button.mark-as-paid {
    width: 131px;
    height: 48px;
    background-color: var(--purple);
    color: var(--white);
}
button.edit-button {
    width: 73px;
    height: 48px;
}
.absolute-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide {
    display: none;
}

/* Dropdown Button */
.dropbtn {
    background-color: #04aa6d;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
